table, tr, td {
    text-align:center;
	font-family:"Verdana", serif;
	color:yellow;
	font-size:30px;
	border:0px solid black;
}

a {
	color:yellow;
	font-family:"Verdana", serif;
}

h1 {
  font-size:80px;
  text-align:center;
  color: yellow;
}

h2 {
  font-size:50px;
  text-align:left;
  padding-top: 20px;
  color: yellow;
}

h3 {
  font-size:15px;
  text-align:left;
  padding-top:50px;
}

ul {
  list-style-type:disc;
  list-style-position:right;
}

p {
  font-size:20px;
  text-align:left;
  color:yellow;
}

body {
  margin: 0;
  font-family: Georgia, serif;
  background: radial-gradient(circle, rgba(121,6,56,1) 0%, rgba(37,73,115,1) 100%);
}

img {
  padding-right:10px;
  padding-top:10px;
}